.footer.sticky-bottom
        .row
            .col-md-6
                p.title.text-center Footer Content
                    br  
                    br
                    h6 Some content
            .col-md-6
                p.title.text-center Links
                    .ul
                        .li
                            a.nav-link.active(href='#!')   Some link 1
                        .li
                            a.nav-link.active(href='#!')   Some link 2   
        .row
            .col-md.align-self-center
                .copyright
                    h6.text-center © 2018 Copyright: ksh                                 