extends layout

block content
  .container.rounded-0(id='loginpage')
    .row
      .col-md-4

        p Register Page
        form(role='form', action="/register",method="post")

          .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
            input.form-control(type='password', name="password", placeholder='Password')
            input.form-control(type='password', name="password_repeat", placeholder=' Password Repeat')
            input.form-control(type='email', name="email", placeholder='E-mail')

          .form-group.form-control(id='loginpagebuttons')

            button.btn.btn-default(type='submit') Submit
            button.btn.btn-primary(type="reset") Cancel
      
      .col-md-8

        p Register help placeholder
        p(style="color:red") There's no SSl so don't use any legitimate credentials(wanted completely free deploy).
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque accusantium et aliquid distinctio unde perspiciatis eius est earum. Commodi iure incidunt natus, excepturi ea voluptas aperiam molestiae nihil tenetur amet!      